body { 
    font-family: Arial, sans-serif; 
    padding: 20px; 
    background-color: #314f72;
    margin: 0;
  }

  h1 {
    color: #fff;
    text-align: left;
  }

  #tasks { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 20px;
   }

  .task-card { 
    background-color: #fff;
    border: 1px solid #ccc; 
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }

  .task-card h3 {
    color: #b60000;
    padding: 0;
    margin: 0 0 5px 0;
  }

  .task-card:hover { 
    background: #f0f0f0; 
  }

  .task-status.running { 
    color: green; 
    font-weight: bold; 
  }

  .task-status.pending { 
    color: gray; 
    font-weight: bold; 
  }

  /* Popup */
  #popup {
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    display: none;
    z-index: 1000;
    width: 90%;
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 8px;
    text-align: center; 
  }

  #popup div {
    text-align: center; 
  }

  #popup h2 { 
    margin-top: 0; 
    color: #b60000;
    text-align: left; 
  }

  #popup .close { 
    cursor: pointer; 
    color: #b60000; 
    float: right; 
    font-size: 20px; 
  }

  #popup .items { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 10px; 
    margin-top: 10px; 
    justify-items: left;
  }

  .part { 
    border: 1px solid #ccc; 
    padding: 5px; 
    text-align: left; 
    border-radius: 5px; 
    background: #fafafa;
    width: 100%;
    box-sizing: border-box;
  }

  .part img { 
    width: 60px; 
    height: 60px; 
    object-fit: contain; 
    display: block;
    margin: 0 auto 5px;
  }

  @media (max-width: 1000px) {
  #tasks {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  h1 {
    font-size: 5rem;
  }

  .task-card {
    padding: 25px;
    font-size: 2.4rem;
  }

  #popup {
    width: 70vw;          /* 70% der Bildschirmbreite */
    max-width: 900px;     /* Oberlimit */
    max-height: 90vh;     /* Mehr Höhe */
    padding: 40px;        /* Größerer Innenabstand */
    font-size: 2.3rem;    /* Größerer Text */
  }

  #popup h2 {
    font-size: 3.4rem;
  }

  #popup .close {
    font-size: 2.5rem; 
  }

  #popup .items {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
  }

  .part img {
    width: 100px;
    height: 100px;
  }
}