body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #314f72;
    margin: 0;
    
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    min-height: 100vh;
    width: 100%;
}

.progress_bar_container {
    margin-bottom: 20px; 
    margin-top: 50px; 
    width: 80%; 
    max-width: 500px; 
    
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 

    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.progress_bar_label {
    color: #b60000;
    font-weight: bold;
    margin-bottom: 10px; 
    font-size: 1.2rem; 
    text-align: center; 
    width: 100%; 
}

#progress_bar {
    background-color: #e0e0e0; 
    border: 1px solid #aaa; 
    border-radius: 8px; 
    overflow: hidden; 
    width: 100%; 
    height: 25px; 
}