body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #314f72;
    margin: 0;
    
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    min-height: 100vh;
    width: 100%;
}

.progress_bar_container {
    margin-bottom: 20px; 
    margin-top: 50px; 
    width: 80%; 
    max-width: 500px; 
    
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 

    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.progress_bar_label {
    color: #b60000;
    font-weight: bold;
    margin-bottom: 10px; 
    font-size: 1.2rem; 
    text-align: center; 
    width: 100%; 
}

#progress_bar {
    background-color: #e0e0e0; 
    border: 1px solid #aaa; 
    border-radius: 8px; 
    overflow: hidden; 
    width: 100%; 
    height: 25px; 
}

.assembly_container {
            width: 80%;
            max-width: 500px; /* Gleiche Breite wie der Progress Bar Container */
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .assembly_title {
            color: #314f72;
            font-size: 1.5rem;
            margin-bottom: 25px;
            text-align: center;
            border-bottom: 2px solid #e0e0e0;
            padding-bottom: 10px;
        }

        .assembly_step {
            display: flex;
            align-items: flex-start;
            margin-bottom: 20px;
        }

        .step_number {
            font-size: 1.8rem;
            font-weight: bold;
            color: #b60000;
            margin-right: 15px;
            flex-shrink: 0;
            line-height: 1.1;
        }

        .step_text {
            font-size: 1rem;
            line-height: 1.5;
        }

        .step_image {
            max-width: 100%;
            height: auto;
            border-radius: 4px;
            margin-top: 10px;
        }