body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    margin: 0;
    background-color: #314f72;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
    height: 70vh;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}


.controls-left, .controls-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    height: 300px; 
}

.controls-left {
    align-items: end;
}

.controls-right {
    align-items: right;
}

.arrow-icon {
    width: 50px;  
    height: 50px; 
    cursor: pointer; 
    transition: opacity 0.2s;
    color: #314f72;
}

.arrow-icon:hover {
    opacity: 0.7; 
    transform: scale(1.1);
}


.product-display {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    height: 100%;
}

.product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.svg-container {
    width: 100%;
    max-width: 200px;
    margin-bottom: 25px;
}

#lego-svg {
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
}

.add-to-cart {
    border: 0;
    background-color: #ed1c24; 
    color: white;
    padding: 15px 40px;
    font-size: 1.4em;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
}

.add-to-cart:hover {
    background-color: #f03e45;
    transform: scale(1.02);
}

