body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    margin: 0;
    background-color: #314f72;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
    height: 70vh;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.image-grid {
    position: relative; /* Wichtig für die absolute Positionierung der Kinder */
    width: 300px; /* Beispielbreite, je nach Figur anpassen */
    height: 400px; /* Beispielhöhe */
    margin: 50px auto; /* Zentrierung des Containers, optional */
}

.controls-left, .controls-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    height: 350px;
    margin-top: -110px;  /* Negative Margin nach oben */
}

.controls-left {
    align-items: end;
}

.controls-right {
    align-items: right;
}

.arrow-icon {
    width: 50px;  
    height: 50px; 
    cursor: pointer; 
    transition: opacity 0.2s;
    color: #314f72;
}

.arrow-icon:hover {
    opacity: 0.7; 
    transform: scale(1.1);
}


.product-display {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    height: 100%;
}

.product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.svg-container {
    width: 200px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lego-svg {
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
}

.add-to-cart {
    border: 0;
    background-color: #ed1c24; 
    color: white;
    padding: 15px 40px;
    font-size: 1.4em;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
}

.add-to-cart:hover {
    background-color: #f03e45;
    transform: scale(1.02);
}

.part {
    position: absolute;
}

.head {
    width: 100px;
    height: 100px;
    top: 0; 
    left: 50%;
    transform: translateX(-50%); /* Zentrierung */
    z-index: 5; /* Soll vor Rumpf liegen */
}

.torso {
    width: 100px;
    height: 100px;
    top: 120px; /* Beispielwert, unter den Kopf setzen */
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.arms-left {
    width: 100px;
    height: 100px;
    top: 120px;
    left: -5%;
    transform: translateX(0);
    z-index: 2;
}

.arms-right {
    width: 100px;
    height: 100px;
    top: 120px;
    right: -5%;
    transform: translateX(0);
    z-index: 2;
}

.legs-left {
    width: 100px;
    height: 100px;
    top: 240px;
    left: 15%;
    transform: translateX(0);
    z-index: 2; /* Hinter dem Rumpf, falls sie überlappen */
}

.legs-right {
    width: 100px;
    height: 100px;
    top: 240px;
    right: 15%;
    transform: translateX(0);
    z-index: 2;
}